@page
@model RazorPizzeria.Pages.PizzaModel
@{
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-4">
                <div class="w-100 row makeYourOwnDiv listImage">
                    <div class="col-8 align-items-start">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align: left;">Create your own Pizza!</h3>
                            <p style="text-align: left;">Make your own Pizza with Pizza Creator</p>
                            <a class="btn btn-outline-light text-light" style="float: left; margin: 0 20px 20px 0; font-weight: bold;" asp-area="" asp-page="Forms/CustomPizza">Try now!</a>
                        </div>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-end">
                        <img class="" src="~/images/Pizzas/bake.png" style="max-width: 100%;" alt="Pizza Oven">
                    </div>
                </div>
            </div>

            @foreach (var pizza in Model.fakePizzaDB)
            {
                var photoPath = "~/images/Pizzas/" + (pizza.ImageTitle + ".png");

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 shadow">
                        <img src="@photoPath" class="card-img-top" alt="@pizza.PizzaName" asp-append-version="true" />
                        <div class="card-body">
                            <h5 class="card-title">@pizza.PizzaName</h5>
                            <p class="card-text">@pizza.Description</p>
                            <a class="btn btn-dark text-light price-button" href="/Checkout/Checkout?PizzaName=@pizza.PizzaName&amp;ImageTitle=@pizza.ImageTitle&amp;PizzaPrice=@pizza.FinalPrice">@pizza.FinalPrice UAH</a>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <h6 class="text-muted" style="font-style: italic; text-align: right; font-size: small">Portion weight: @pizza.Weight gr</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
